.container{
    display: flex;
    justify-content: center;
}

form{
    border: 2px solid darkblue;
    padding: 15px;
    width: 500px;
}

.form-control{
    margin-bottom: 8px;
}

input:not([type="checkbox"],[type="radio"]), textarea, select{
    width: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.empty-field{
    border:2px solid red;
}

.box-shadow{
    box-shadow: 0 1px 10px 0 blue;
}

.text-error{
    font-size: 14px;
    color: red;
}